<!DOCTYPE HTML PUBliC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<head>
<TITLE>留言本 - {maccms:name}</TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="{maccms:name}">
<meta name="description" content="{maccms:name}">
<link href="{maccms:templatepath}images/kuniao.css" rel="stylesheet" type="text/css">
<script>var maccms_path = "{maccms:path}"</script>
<script src="{maccms:path}js/jquery.js"></script>
<script src="{maccms:path}js/function.js"></script>
<script src="{maccms:templatepath}images/js/kuniao.js"></script>
</head>
<body>
<!--头部开始-->
{maccms:head}
<!--头部结束-->
<!--中上开始-->
<div class="blank12H"></div>
<!--{maccms:hotsearch}-->

<div id="contentA" class="area kuniao">
{maccms:gbook}
	<!--列表内容结束-->
	<!--列表结束-->
</div>
{maccms:foot}
</body>
</html>

